.div-filters 
    display: flex
    flex-wrap: wrap
    background-color: #f5F5F5
    align-items: center
    justify-content: space-between
    height: 7rem


.filter-icon
    margin-right: 3rem

.datepicker 
    width: 10rem
    height: 40px
    border-radius: 5px
    font-size: 14px
    padding: 6px
    border-style: groove
    background-color: #f3f3f3