.button-login
    height: 3rem
    width: 15rem
    border-radius: 10rem
    background-color: #34D75F
    cursor: pointer

.div-login 
    margin: 0 auto
    border-radius: 3rem
    background-color: #f3f3f3
    width: 25rem
    height: 20rem
    text-align: center
    align-items: center
    justify-content: center
    display: flex

.label-button
    font-size: 12px

.div-container-login
    height: 40rem
    display: flex
    align-items: center